* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100dvh;

  padding: 1rem;
}

.container {
  background-color: rgb(238, 235, 235);
  box-shadow: 0px 0px 5px lightgray;

  height: 100%;

  border-radius: 1rem;

  padding: 1rem;
}

.container h1 {
  text-align: center;
}

.chat {
  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow-y: scroll;
  scrollbar-width: none;

  margin: 1rem 0px;

  /* height: calc(100% - 4em - 70px); */
  height: calc(100% - 70px - 4em);
}

.user,
.bot {
  word-wrap: break-word;
  max-width: 70%;
}

.user {
  background-color: blue;
  color: white;

  align-self: end;

  padding: 1rem;

  border-radius: 1rem;
}

.bot {
  background-color: white;

  align-self: start;

  padding: 1rem;

  border-radius: 1rem;
}

.sendBar {
  display: flex;
  justify-content: space-between;

  box-shadow: 0px 0px 5px black;
  border-radius: 1rem;
  padding: 0.5rem;

  /* height: 50px; */
}
#promptInput {
  font-size: 1.2rem;

  border: none;

  flex: 90%;

  background-color: transparent;
}
#promptInput:focus {
  outline: none;
}
button {
  padding: 1rem;

  border-radius: 1rem;
  border: none;

  background-color: lightgreen;
  color: white;

  font-weight: bold;
  font-size: 1.2rem;
}

@media screen and (max-width: 439px) {
  .container h1 {
    font-size: 5vw;
    white-space: nowrap;
  }
  #promptInput {
    font-size: 3vw;
  }
  .chat {
    height: calc(100% - 70px - 4em + 3vw);
  }
}
